@use "../abstracts/" as *;

body {
  font-family: $ff-serif;
  font-weight: $fw-400;
  background-color: clr(neutral, 400);
  color: clr(neutral, 600);
}

[class*="__title"] {
  font-family: $ff-accent;
  text-transform: uppercase;
  text-align: center;
}
