@import url("https://fonts.googleapis.com/css2?family=Limelight&family=Tinos:ital,wght@0,400;0,700;1,400;1,700&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

img,
svg,
iframe,
video,
picture {
  max-inline-size: 100%;
  block-size: auto;
}

body {
  font-family: "Tinos", serif;
  font-weight: 400;
  background-color: rgb(255, 255, 255);
  color: rgba(0, 0, 0, 0.8941176471);
}

[class*=__title] {
  font-family: "Limelight", sans-serif;
  text-transform: uppercase;
  text-align: center;
}

.header__logo {
  grid-column: 2/span 1;
  width: 150px;
  aspect-ratio: 16/9;
}
.header__title {
  justify-self: end;
  font-size: 1.5rem;
  width: -moz-min-content;
  width: min-content;
  text-align: right;
  line-height: 1;
}
@media screen and (min-width: 45em) {
  .header__wrapper.grid-layout {
    --gap: 3.375rem;
  }
  .header__title {
    width: -moz-max-content;
    width: max-content;
    font-size: 2rem;
    justify-self: center;
  }
}
@media screen and (min-width: 65em) {
  .header__wrapper {
    min-height: 9rem;
  }
  .header__wrapper.grid-layout {
    --gap: 8.4375rem;
    grid-template-areas: ". logo title title";
  }
  .header__logo {
    margin-inline-end: 2.25rem;
  }
  .header__title {
    background-color: #4f6308;
    width: 100%;
    grid-area: title;
    font-size: 3rem;
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: center;
  }
}

.hero__wrapper {
  display: grid;
  grid-template-areas: "stack";
}
.hero__pic {
  background-image: linear-gradient(rgba(5, 7, 12, 0.7), rgba(5, 7, 12, 0.3)), url(../assets/img/img-hero-mobile.webp);
  background-repeat: no-repeat;
  background-size: cover;
  min-width: 30em;
  aspect-ratio: 16/9;
  grid-area: stack;
}
.hero__text-group {
  grid-column: 2/span 1;
  color: white;
}
.hero__title {
  width: -moz-min-content;
  width: min-content;
  font-size: clamp(1.5rem, 3vw + 1.5rem, 2.5rem);
  line-height: 1;
  text-align: left;
}
.hero__note {
  font-size: x-small;
  font-style: italic;
  color: #4f6308;
  font-weight: 700;
}
.hero__paragraph {
  line-height: 1;
}
@media screen and (min-width: 45em) {
  .hero__wrapper {
    --gap: 3.375rem;
    --col1: 1fr;
    --col2: 1fr;
    grid-template-areas: ". text pic .";
  }
  .hero__text-group {
    position: absolute;
    z-index: 100;
    left: 3.375rem;
    right: 3.375rem;
    grid-area: text;
  }
  .hero__pic {
    background-image: url(../assets/img/hero-tablet.webp);
    background-size: cover;
    height: auto;
    aspect-ratio: 16/9;
    grid-area: pic;
    grid-column: 3/4;
  }
  .hero__title {
    width: 30ch;
    color: rgba(0, 0, 0, 0.8941176471);
    font-weight: 700;
  }
  .hero__note {
    font-size: 1.3125rem;
  }
  .hero__paragraph {
    color: rgba(0, 0, 0, 0.8941176471);
    font-weight: 700;
    width: 45ch;
    font-size: 1.5rem;
    line-height: 1.1;
  }
}
@media screen and (min-width: 65em) {
  .hero {
    transform: translateY(-0.75rem);
  }
  .hero__wrapper {
    --gap: 8.4375rem;
    --col1: 1fr;
    --col2: 1fr;
    grid-template-areas: ". text pic .";
  }
  .hero__text-group {
    left: 8.4375rem;
    right: 8.4375rem;
  }
  .hero__title {
    letter-spacing: 0.09em;
    width: 15ch;
  }
  .hero__paragraph {
    width: 57ch;
  }
}

.steps__cards > * {
  border-radius: 1rem;
}
.steps__cards.grid-layout {
  display: grid;
  --gap: 1.5rem;
  --col1: 1fr;
  grid-template-columns: var(--gap) var(--col1) var(--gap);
  justify-content: center;
  grid-template-areas: ". card1 ." ". card2 ." ". card3 .";
}
.steps__check {
  width: clamp(2.25rem, 5vw + 1.5rem, 6.25rem);
}
.steps__1 {
  grid-area: card1;
}
.steps__2 {
  grid-area: card2;
}
.steps__3 {
  grid-area: card3;
}
:is(.steps__1, .steps__2, .steps__3) {
  box-shadow: 0.1em 0.2em 0.3em #4f6308;
}
@media screen and (min-width: 45em) {
  .steps__cards.grid-layout {
    display: grid;
    --gap: 3.375rem;
    row-gap: 1rem;
    --col1: 1fr;
    --col2: 1fr;
    grid-template-columns: var(--gap) var(--col1) var(--col2) var(--gap);
    justify-content: center;
    grid-template-areas: ". card1 card2 ." ". card3 card3 .";
  }
  .steps__1 {
    grid-column: 2/3;
  }
  .steps__2 {
    grid-column: 3/4;
    margin-inline-start: 1rem;
  }
}
@media screen and (min-width: 65em) {
  .steps__cards.grid-layout {
    --gap: 8.4375rem;
    grid-template-columns: var(--gap) 1fr 1fr 1fr var(--gap);
    grid-template-areas: ". card1 card2 card3 .";
  }
  .steps__3 {
    margin-inline-start: 1rem;
  }
}

.card.grid-layout {
  --gap: 1.5rem;
  grid-template-areas: ". title ." "pic pic pic" ". text .";
}
.card__img {
  min-width: 375px;
  background-image: url(../assets/img/hombre-oficina-preocupado-tablet.jpg);
  background-position: center;
  background-size: cover;
  aspect-ratio: 1;
  grid-column: 1/-1;
  grid-row: 2/3;
}
.card__title {
  grid-area: title;
}
.card__paragraph {
  grid-area: text;
  font-size: 1.125rem;
  line-height: 1.2;
}
@media screen and (min-width: 45em) {
  .card.grid-layout {
    --gap: 3.375rem;
    grid-template-columns: var(--gap) auto auto 1fr var(--gap);
    grid-template-areas: ". pic title text .";
  }
  .card__img {
    max-width: 473px;
    grid-column: 3/4;
    grid-row: 2/3;
  }
  .card__paragraph {
    grid-area: text;
    grid-row: 2/3;
    font-size: 1.125rem;
    line-height: 1.2;
    grid-row: 2/3;
    background-color: rgba(0, 0, 0, 0.8941176471);
    color: rgb(255, 255, 255);
    padding: 2.25rem;
  }
  .card__title {
    height: 60%;
    grid-area: title;
    grid-row: 2/3;
    grid-column: 4/5;
  }
}
@media screen and (min-width: 65em) {
  .card.grid-layout {
    --gap: 8.4375rem;
    grid-template-columns: var(--gap) auto auto 1fr var(--gap);
    grid-template-areas: "pic pic title text text";
  }
  .card__img {
    min-width: 473px;
    grid-column: 1/4;
    grid-row: 2/3;
  }
}
.card[data-card=inverted] .card__img {
  background-image: url(../assets/img/grupo-en-oficina.jpg);
}
@media screen and (min-width: 45em) {
  .card[data-card=inverted].grid-layout {
    --gap: 3.375rem;
    grid-template-columns: var(--gap) auto auto 1fr var(--gap);
    grid-template-areas: ". text title pic .";
  }
  .card[data-card=inverted].grid-layout .card__title {
    grid-column: 2/3;
  }
}
@media screen and (min-width: 65em) {
  .card[data-card=inverted].grid-layout {
    --gap: 8.4375rem;
    grid-template-columns: var(--gap) auto auto auto var(--gap);
    grid-template-areas: "text text title pic pic";
  }
  .card[data-card=inverted] .card__img {
    grid-area: pic;
  }
  .card[data-card=inverted] .card__paragraph {
    grid-area: text;
  }
  .card[data-card=inverted] .card__title {
    grid-area: title;
  }
}

.grid-layout {
  display: grid;
  grid-template-columns: var(--gap, 1.5rem) var(--col1, auto) var(--col2, 1fr) var(--gap, 1.5rem);
  align-items: var(--alignItems, center);
}

.clr-neutral-400 {
  color: rgb(255, 255, 255);
}

.bg-neutral-400 {
  background-color: rgb(255, 255, 255);
}

.clr-neutral-450 {
  color: rgba(244, 225, 225, 0.4705882353);
}

.bg-neutral-450 {
  background-color: rgba(244, 225, 225, 0.4705882353);
}

.clr-neutral-500 {
  color: #808080;
}

.bg-neutral-500 {
  background-color: #808080;
}

.clr-neutral-600 {
  color: rgba(0, 0, 0, 0.8941176471);
}

.bg-neutral-600 {
  background-color: rgba(0, 0, 0, 0.8941176471);
}

.clr-primary-550 {
  color: rgba(233, 23, 23, 0.783);
}

.bg-primary-550 {
  background-color: rgba(233, 23, 23, 0.783);
}

.clr-primary-500 {
  color: #4f6308;
}

.bg-primary-500 {
  background-color: #4f6308;
}

.clr-primary-450 {
  color: #e7e9e0;
}

.bg-primary-450 {
  background-color: #e7e9e0;
}

.clr-primary-400 {
  color: #b6ea00;
}

.bg-primary-400 {
  background-color: #b6ea00;
}

.fs-900 {
  font-size: 3.75rem;
}

.fs-800 {
  font-size: 3rem;
}

.fs-600 {
  font-size: clamp(1.5rem, 3vw + 1.5rem, 2.5rem);
}

.fs-500 {
  font-size: 1.3125rem;
}

.fs-400 {
  font-size: 1.125rem;
}

.margin-8 {
  margin: 0.5rem;
}
.margin-block-start-8 {
  margin-block-start: 0.5rem;
}
.margin-block-end-8 {
  margin-block-end: 0.5rem;
}
.margin-block-8 {
  margin-block: 0.5rem;
}
.margin-inline-start-8 {
  margin-inline-start: 0.5rem;
}
.margin-inline-end-8 {
  margin-inline-end: 0.5rem;
}
.margin-inline-8 {
  margin-inline: 0.5rem;
}

.padding-8 {
  padding: 0.5rem;
}
.padding-block-start-8 {
  padding-block-start: 0.5rem;
}
.padding-block-end-8 {
  padding-block-end: 0.5rem;
}
.padding-block-8 {
  padding-block: 0.5rem;
}
.padding-inline-start-8 {
  padding-inline-start: 0.5rem;
}
.padding-inline-end-8 {
  padding-inline-end: 0.5rem;
}
.padding-inline-8 {
  padding-inline: 0.5rem;
}

.margin-12 {
  margin: 0.75rem;
}
.margin-block-start-12 {
  margin-block-start: 0.75rem;
}
.margin-block-end-12 {
  margin-block-end: 0.75rem;
}
.margin-block-12 {
  margin-block: 0.75rem;
}
.margin-inline-start-12 {
  margin-inline-start: 0.75rem;
}
.margin-inline-end-12 {
  margin-inline-end: 0.75rem;
}
.margin-inline-12 {
  margin-inline: 0.75rem;
}

.padding-12 {
  padding: 0.75rem;
}
.padding-block-start-12 {
  padding-block-start: 0.75rem;
}
.padding-block-end-12 {
  padding-block-end: 0.75rem;
}
.padding-block-12 {
  padding-block: 0.75rem;
}
.padding-inline-start-12 {
  padding-inline-start: 0.75rem;
}
.padding-inline-end-12 {
  padding-inline-end: 0.75rem;
}
.padding-inline-12 {
  padding-inline: 0.75rem;
}

.margin-16 {
  margin: 1rem;
}
.margin-block-start-16 {
  margin-block-start: 1rem;
}
.margin-block-end-16 {
  margin-block-end: 1rem;
}
.margin-block-16 {
  margin-block: 1rem;
}
.margin-inline-start-16 {
  margin-inline-start: 1rem;
}
.margin-inline-end-16 {
  margin-inline-end: 1rem;
}
.margin-inline-16 {
  margin-inline: 1rem;
}

.padding-16 {
  padding: 1rem;
}
.padding-block-start-16 {
  padding-block-start: 1rem;
}
.padding-block-end-16 {
  padding-block-end: 1rem;
}
.padding-block-16 {
  padding-block: 1rem;
}
.padding-inline-start-16 {
  padding-inline-start: 1rem;
}
.padding-inline-end-16 {
  padding-inline-end: 1rem;
}
.padding-inline-16 {
  padding-inline: 1rem;
}

.margin-20 {
  margin: 1.25rem;
}
.margin-block-start-20 {
  margin-block-start: 1.25rem;
}
.margin-block-end-20 {
  margin-block-end: 1.25rem;
}
.margin-block-20 {
  margin-block: 1.25rem;
}
.margin-inline-start-20 {
  margin-inline-start: 1.25rem;
}
.margin-inline-end-20 {
  margin-inline-end: 1.25rem;
}
.margin-inline-20 {
  margin-inline: 1.25rem;
}

.padding-20 {
  padding: 1.25rem;
}
.padding-block-start-20 {
  padding-block-start: 1.25rem;
}
.padding-block-end-20 {
  padding-block-end: 1.25rem;
}
.padding-block-20 {
  padding-block: 1.25rem;
}
.padding-inline-start-20 {
  padding-inline-start: 1.25rem;
}
.padding-inline-end-20 {
  padding-inline-end: 1.25rem;
}
.padding-inline-20 {
  padding-inline: 1.25rem;
}

.margin-25 {
  margin: 1.5rem;
}
.margin-block-start-25 {
  margin-block-start: 1.5rem;
}
.margin-block-end-25 {
  margin-block-end: 1.5rem;
}
.margin-block-25 {
  margin-block: 1.5rem;
}
.margin-inline-start-25 {
  margin-inline-start: 1.5rem;
}
.margin-inline-end-25 {
  margin-inline-end: 1.5rem;
}
.margin-inline-25 {
  margin-inline: 1.5rem;
}

.padding-25 {
  padding: 1.5rem;
}
.padding-block-start-25 {
  padding-block-start: 1.5rem;
}
.padding-block-end-25 {
  padding-block-end: 1.5rem;
}
.padding-block-25 {
  padding-block: 1.5rem;
}
.padding-inline-start-25 {
  padding-inline-start: 1.5rem;
}
.padding-inline-end-25 {
  padding-inline-end: 1.5rem;
}
.padding-inline-25 {
  padding-inline: 1.5rem;
}

.margin-32 {
  margin: 2rem;
}
.margin-block-start-32 {
  margin-block-start: 2rem;
}
.margin-block-end-32 {
  margin-block-end: 2rem;
}
.margin-block-32 {
  margin-block: 2rem;
}
.margin-inline-start-32 {
  margin-inline-start: 2rem;
}
.margin-inline-end-32 {
  margin-inline-end: 2rem;
}
.margin-inline-32 {
  margin-inline: 2rem;
}

.padding-32 {
  padding: 2rem;
}
.padding-block-start-32 {
  padding-block-start: 2rem;
}
.padding-block-end-32 {
  padding-block-end: 2rem;
}
.padding-block-32 {
  padding-block: 2rem;
}
.padding-inline-start-32 {
  padding-inline-start: 2rem;
}
.padding-inline-end-32 {
  padding-inline-end: 2rem;
}
.padding-inline-32 {
  padding-inline: 2rem;
}

.margin-36 {
  margin: 2.25rem;
}
.margin-block-start-36 {
  margin-block-start: 2.25rem;
}
.margin-block-end-36 {
  margin-block-end: 2.25rem;
}
.margin-block-36 {
  margin-block: 2.25rem;
}
.margin-inline-start-36 {
  margin-inline-start: 2.25rem;
}
.margin-inline-end-36 {
  margin-inline-end: 2.25rem;
}
.margin-inline-36 {
  margin-inline: 2.25rem;
}

.padding-36 {
  padding: 2.25rem;
}
.padding-block-start-36 {
  padding-block-start: 2.25rem;
}
.padding-block-end-36 {
  padding-block-end: 2.25rem;
}
.padding-block-36 {
  padding-block: 2.25rem;
}
.padding-inline-start-36 {
  padding-inline-start: 2.25rem;
}
.padding-inline-end-36 {
  padding-inline-end: 2.25rem;
}
.padding-inline-36 {
  padding-inline: 2.25rem;
}

.container {
  width: min(100% - 2rem, 60rem);
  margin-inline: auto;
}

.fw-regular {
  font-weight: 400;
}

.fw-bold {
  font-weight: 700;
}

.uppercase {
  text-transform: uppercase;
}

.text-center {
  text-align: center;
}

.ff-base {
  font-family: "Tinos", serif;
}

.ff-accent {
  font-family: "Limelight", sans-serif;
}

.flow > *:not(:first-child) {
  margin-top: 10px;
}
@media screen and (min-width: 45em) {
  .flow > *:not(:first-child) {
    margin-top: 0px;
  }
}/*# sourceMappingURL=main.css.map */