$colors: (
  neutral: (
    400: rgb(255, 255, 255),
    450: #f4e1e178,
    500: #808080,
    600: #000000e4,
  ),
  primary: (
    550: rgba(233, 23, 23, 0.783),
    500: #4f6308,
    450: #e7e9e0,
    400: #b6ea00,
    // 400: #f94f4f,
  ),
);
