$sizes: (
  8: 0.5rem,
  12: 0.75rem,
  16: 1rem,
  20: 1.25rem,
  32: 2rem,
  36: 2.25rem,
);

$gap-mobile: 1.5rem;
$gap-tablet: 3.375rem;
$gap-desktop: 8.4375rem;

$width-mobile: 30em;
$width-tablet: 45em;
$width-desktop: 65em;
