@use "../abstracts/" as *;

.header {
  &__logo {
    grid-column: 2 / span 1;
    width: 150px;
    aspect-ratio: 16 / 9;
  }

  &__title {
    justify-self: end;
    font-size: 1.5rem;
    width: min-content;
    text-align: right;
    line-height: 1;
    color: clr(neutral, 600);
  }

  @include mq(medium) {
    &__wrapper.grid-layout {
      --gap: #{$gap-tablet};
    }

    &__title {
      width: max-content;
      font-size: 2rem;
      justify-self: center;
    }
  }

  @include mq(large) {
    &__wrapper {
      min-height: size(36) * 4;
    }
    &__wrapper.grid-layout {
      --gap: #{$gap-desktop};
      // grid-template-columns: var(--gap) ;
      grid-template-areas: ". logo title title";
    }

    &__logo {
      margin-inline-end: size(36);
    }

    &__title {
      background-color: clr(primary, 500);
      width: 100%;
      grid-area: title;
      font-size: fs(800);
      display: flex;
      justify-content: center;

      height: 100%;
      align-items: center;
    }
  }
}

.hero {
  &__wrapper {
    display: grid;
    // grid-template-columns: repeat(1, 1fr);
    grid-template-areas: "stack";
  }

  &__pic {
    background-image: linear-gradient(rgba(5 7 12 / 0.7), rgba(5 7 12 / 0.3)),
      url(../assets/img/img-hero-mobile.webp);
    background-repeat: no-repeat;
    background-size: cover;
    max-width: $width-mobile;
    height: 100%;
    aspect-ratio: 16 / 9;
    grid-area: stack;

    overflow: hidden;
  }

  &__text-group {
    // grid-area: stack;
    // place-self: center;
    // align-self: center;
    grid-column: 2 / span 1;

    color: clr(primary, 400);
    padding-block: 1rem;
  }

  &__title {
    width: min-content;
    font-size: fs(600);
    line-height: 1;
    text-align: left;
    color: inherit;
  }

  &__note {
    font-size: x-small;
    font-style: italic;
    color: clr(neutral, 400);
    font-weight: $fw-700;
  }

  &__paragraph {
    // background-color: lightblue;
    // width: min(60ch, 75%);
    line-height: 1;
  }

  @include mq(medium) {
    &__wrapper {
      --gap: #{$gap-tablet};
      --col1: 1fr;
      --col2: 1fr;

      grid-template-areas: ". text pic .";
    }

    &__text-group {
      position: absolute;
      z-index: 100;
      left: $gap-tablet;
      right: $gap-tablet;
      grid-area: text;
      color: clr(primary, 500);
    }

    &__pic {
      background-image: url(../assets/img/hero-tablet.webp);
      background-size: cover;
      min-width: 375px;
      height: auto;
      aspect-ratio: 16 / 9;

      grid-area: pic;
      grid-column: 3 / 4;
    }

    &__title {
      width: 20ch;
      font-weight: $fw-700;
    }

    &__note {
      font-size: fs(500);
      color: inherit;
    }

    &__paragraph {
      font-weight: $fw-700;
      width: 45ch;
      font-size: 1.5rem;
      line-height: 1.1;
    }
  }

  @include mq(large) {
    transform: translateY(calc(size(12)) * -1);

    &__wrapper {
      --gap: #{$gap-desktop};
      --col1: 1fr;
      --col2: 1fr;

      grid-template-areas: ". text pic .";
    }

    &__text-group {
      left: $gap-desktop;
      right: $gap-desktop;
    }

    &__title {
      letter-spacing: 0.09em;
      width: 15ch;
    }

    &__paragraph {
      width: 57ch;
    }
  }
}
