@use "../abstracts/" as *;

.header {
  &__logo {
    grid-column: 2 / span 1;
    width: 150px;
    aspect-ratio: 16 / 9;
  }

  &__title {
    justify-self: end;
    font-size: 1.5rem;
    width: min-content;
    text-align: right;
    line-height: 1;
  }

  @include mq(medium) {
    &__wrapper.grid-layout {
      --gap: #{$gap-tablet};
    }

    &__title {
      width: max-content;
      font-size: 2rem;
      justify-self: center;
    }
  }

  @include mq(large) {
    &__wrapper.grid-layout {
      --gap: #{$gap-desktop};
    }
  }
}
