@use "../abstracts/" as *;

.grid-layout {
  display: grid;
  grid-template-columns: var(--gap, $gap-mobile) var(--col1, auto) var(
      --col2,
      1fr
    ) var(--gap, $gap-mobile);
  align-items: var(--alignItems, center);
}
